Checks:
'*,
-readability-implicit-bool-conversion,
-modernize-use-trailing-return-type,
-google-readability-todo,
-fuchsia-default-arguments-declarations,
-hicpp-uppercase-literal-suffix,
-readability-uppercase-literal-suffix,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-avoid-magic-numbers,
-readability-magic-numbers,
-readability-isolate-declaration,
-misc-non-private-member-variables-in-classes,
-fuchsia-*,
'
